{% extends "layouts/base.html" %}
<!-- % load extratags %} -->

{% block page_title %}
<title>{{ PAGE_TITLE }}</title>
{% endblock %}

{% block navbar %}
{% include 'sections/navbar.html' %}
{% endblock %}

{% block header %}
<div style="padding-top: 60px;"></div>
{% endblock %}

{% block sidebar %}
{% include 'sections/sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
<!-- <div class="col-lg-10 col-lg-offset-2 main"> -->
{% if filter_form %}
    <div class="filter_form">
        <form class="form-inline">
            {% for field in filter_form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>
{% endif %}
<div class="main">
    {% for content in contents %}
        {% if content.section == 'table' %}
            {% include 'sections/tables.html' %}
        {% elif content.section == 'modal' %}
            {% include 'sections/modals.html' %}
        {% else %}
            {{ content.html|safe }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<footer class="navbar-inverse navbar-fixed-bottom">
	<p class="navbar-brand">© {{ YEAR }} - {{ APPNAME }}® Version {{ VERSION }}</p>
</footer>
{% endblock %}

{% block modals %}
{% include 'sections/modals.html' %}
{% endblock %}

{% block notifications %}
{% include 'sections/notifications.html' %}
{% endblock %}

{% block popups %}
{% endblock %}
