{% extends "layouts/base.html" %}
<!-- {% load extratags %} -->

{% block page_title %}
<title>Muelles Obrero</title>
{% endblock %}

{% block navbar %}
{% include 'sections/navbar.html' %}
{% endblock %}

{% block header %}
<div style="padding-top: 60px;"></div>
{% endblock %}

{% block site_wrapper %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Correos Electronicos</h3>
        <form class="" action="." method="POST">
            <!-- {% csrf_token %} -->
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {% for field in form %}
            <div class="form-group row {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}" class="col-sm-4  col-form-label">{{ field.label }}</label>
                <div class="col-sm-8">
                    {{ field }}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Reportes</h3>
        <form class="" action="." method="POST">
            <!-- {% csrf_token %} -->
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {% for field in reports_form %}
            <div class="form-group row {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}" class="col-sm-4  col-form-label">{{ field.label }}</label>
                <div class="col-sm-8">
                    {{ field }}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Respaldos automaticos</h3>
        <form class="" action="./backup/" method="POST" id="backupform">
            <!-- {% csrf_token %} -->
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="action" value="">
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" id="backup" class="btn btn-success btn-block"> Respaldar ahora</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" id="send" class="btn btn-info btn-block"> Enviar por email</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" id="restore-btn" class="btn btn-warning btn-block" data-title="Restore" data-toggle="modal" data-target="#restore" > Restaurar respaldo</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" id="delete-btn" class="btn btn-danger btn-block" data-title="Delete" data-toggle="modal" data-target="#delete" > Eliminar respaldo</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="restore" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align">Restaurar antigua base de datos</h4>
    </div>
    <form class="form-horizontal" action="./backup/" method="POST">
        <!-- {% csrf_token %} -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="action" value="RESTORE">
        <input type="hidden" name="backup" value="">
        <div class="modal-body">
            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Esta seguro de restaurar a una antigua base de datos? Toda la informacion no respaldada sera borrada permanentemente.</div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-lg" ><span class="glyphicon glyphicon-ok-sign"></span> Restaurar</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </div>
    </form>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align">Eliminar antigua base de datos</h4>
    </div>
    <form class="form-horizontal" action="./backup/" method="POST">
        <!-- {% csrf_token %} -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="action" value="DELETE">
        <input type="hidden" name="backup" value="">
        <div class="modal-body">
            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Esta seguro de eliminar una antigua base de datos?</div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-lg" ><span class="glyphicon glyphicon-ok-sign"></span> Eliminar</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block notifications %}
{% include 'sections/notifications.html' %}
{% endblock %}

{% block footer %}
{% include 'sections/footer.html' %}
{% endblock %}
