{% extends "layouts/base.html" %}

{% block page_title %}
<title>{{ PAGE_TITLE }}</title>
{% endblock %}

{% block navbar %}
{% include 'sections/navbar.html' %}
{% endblock %}

{% block header %}
<div style="padding-top: 60px;"></div>
{% endblock %}

{% block sidebar %}
{% include 'sections/sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
<div class="col-lg-10 col-lg-offset-2 main">
    {% for content in contents %}
        {% if content.section == 'table' %}
            {% include 'sections/tables.html' %}
        {% elif content.section == 'modal' %}
            {% include 'sections/modals.html' %}
        {% else %}
            {{ content.html|safe }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<footer class="navbar-inverse navbar-fixed-bottom">
	<p class="navbar-brand">© {{ YEAR }} - {{ APPNAME }}® Version {{ VERSION }}</p>
</footer>
{% endblock %}

{% block modals %}
{% include 'sections/modals.html' %}
{% endblock %}

{% block notifications %}
{% include 'sections/notifications.html' %}
{% endblock %}

{% block popups %}
{% endblock %}
