<div class="modal fade" id="{{ content.name }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h4 class="modal-title custom_align" id="Heading">{{ content.title }}</h4>
    </div>
    <form class="form-horizontal" action="{{ content.form_action }}" autocomplete="off" method="{{ content.form_method }}" id="">
        {% csrf_token %}
        <div class="modal-body">
            {% for item in content.body %}
                {% if item.type == "ModelForm" %}
                    {% for field in item.obj %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                                <div class="col-sm-10">
                                    {{ field }}
                                    {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% elif item.name == 'HTMLObject' %}
                    {{ item.obj.stringify|safe }}
                {% elif item.type == 'basestring' %}
                    {{ item.obj }}
                {% endif %}
            {% endfor %}
            {{ content.html|safe }}
        </div>
        <div class="modal-footer">
            {% for button in content.buttons %}
                {{ button.stringify|safe }}
            {% endfor %}
        </div>
    </form>
</div>
