<div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
        <a class="navbar-brand" href="/">{{ APPNAME }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown {{ navbar_active.resources }}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recursos Materiales</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <h6 class="dropdown-header">Tablas</h6>
                        <a class="dropdown-item {{ navbar_active.product }}" href="/database/product/">Refacciones</a>
                        <a class="dropdown-item {{ navbar_active.brand }}" href="/database/brand/">Marcas</a>
                        <a class="dropdown-item {{ navbar_active.appliance }}" href="/database/appliance/">Aplicaciones</a>
                        <a class="dropdown-item {{ navbar_active.organization }}" href="/database/organization/">Organizaciones</a>
                        <a class="dropdown-item {{ navbar_active.organization_storage }}" href="/database/organization_storage/">Almacenes</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Existencias</h6>
                        <a class="dropdown-item {{ navbar_active.storage_product }}" href="/database/storage_product/">Productos en almacenes</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Movimientos</h6>
                        <a class="dropdown-item {{ navbar_active.input }}" href="/database/input/">Entradas</a>
                        <a class="dropdown-item {{ navbar_active.output }}" href="/database/output/">Salidas</a>
                    </div>
                </li>
                <li class="nav-item dropdown {{ navbar_active.purchases }}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compras</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <h6 class="dropdown-header">Tablas</h6>
                        <a class="dropdown-item {{ navbar_active.provider }}" href="/database/provider/">Proveedores</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Movimientos</h6>
                        <a class="dropdown-item {{ navbar_active.order }}" href="/database/order/">Pedidos</a>
                        <a class="dropdown-item {{ navbar_active.invoice }}" href="/database/invoice/">Facturas</a>
                    </div>
                </li>
                <li class="nav-item dropdown {{ navbar_active.sales }}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ventas</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <h6 class="dropdown-header">Tablas</h6>
                        <a class="dropdown-item {{ navbar_active.customer }}" href="/database/customer/">Clientes</a>
                        <a class="dropdown-item {{ navbar_active.pricelist }}" href="/database/pricelist/">Listas de precios</a>
                        <a class="dropdown-item {{ navbar_active.percentage }}" href="/database/percentage/">Porcentajes de precios</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Movimientos</h6>
                        <a class="dropdown-item {{ navbar_active.quotation }}" href="/database/quotation/">Cotizaciones</a>
                        <a class="dropdown-item {{ navbar_active.sell }}" href="/database/sell/">Facturas</a>
                    </div>
                </li>
                <li class="nav-item dropdown {{ navbar_active.hr }}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recursos Humanos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <h6 class="dropdown-header">Tablas</h6>
                        <a class="dropdown-item {{ navbar_active.employee }}" href="/database/employee/">Trabajadores</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Movimientos</h6>
                        <a class="dropdown-item {{ navbar_active.work }}" href="/database/work/">Hojas de Trabajo</a>
                    </div>
                </li>
                <li class="nav-item {{ navbar_active.reports }}">
                  <a class="nav-link" href="/database/reports/">Reportes</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_superuser %}
                <li class="nav-item {{ settings_active }}">
                <a class="nav-link" href="/settings/">Configuracion</a>
                </li>
                <li class="nav-item {{ accounts_active }}">
                  <a class="nav-link" href="/accounts/users/">Usuarios</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown05">
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left"><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></p>
                                    <p class="text-left small">{{ request.user.email }}</p>
                                    <p class="text-left">
                                        <a href=""  data-toggle="modal" data-target="#update_userinfo" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
                                        <a href=""  data-toggle="modal" data-target="#update_userpass" class="btn btn-primary btn-block btn-sm">Cambiar Password</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="navbar-login navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <a href="/accounts/logout/" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
    
    <div class="modal fade" id="update_userpass" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form class="form-horizontal" action="/accounts/password/" autocomplete="off" method="POST">
                <!-- % csrf_token %} -->
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="next" value="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title custom_align">Actualizar password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_user_password" class="col-sm-2 control-label">Nuevo password</label>
                            <div class="col-sm-10"><input type="password" id="{{ id_user_password }}" name="password" value=""></div>
                        </div>
                        <input id="id_id" name="id" type="hidden" value="{{ request.user.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> Guardar</button>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    