{% load custom_tags %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            {% for provider in providers %}
            <li role="presentation" class="{{ provider.active }}"><a href="#{{ provider.id }}Diff" aria-controls="{{ provider.id }}Diff" role="tab" data-toggle="tab">{{ provider.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for provider in providers %}
            <div role="tabpanel" class="tab-pane {{ provider.active }}" id="{{ provider.id }}Diff">
                <div class="row"><h2>
                    <div class="col-md-11 col-sm-10">Productos de {{ provider.name }}</div>
                    <div class="col-md-1 col-sm-2">
                        <p data-placement="top" data-toggle="tooltip" title="Realizar pedido a {{ provider.name }}"><button type="button" class="btn btn-info btn-lg btn-block order-modal" data-id="{{ provider.id }}" data-toggle="modal" data-target="#new_order"><i class="fa fa-envelope"></i></button></p>
                    </div>
                </h2></div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordred table-striped table-hover">
                            <thead>
                                <th>Código</th>
                                <th>Marca</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Cantidades</th>
                            </thead>
                            <tbody>
                                {% for product in provider.products %}
                                <tr id="{{ product.code }}" data-code="{{ product.code }}" data-model="{{ product.model }}" data-provider="{{ product.provider.id }}" data-name="{{ product.name }}" data-description="{{ product.description }}" data-price="{{ product.price }}" class="product-row">
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.model }}</td>
                                    <td class="product-name">{{ product.name }}</td>
                                    <td>{{ product.description }}</td>
                                    <td><table class="table table-bordred table-striped table-hover table-condensed">
                                        <thead><tr><th>Almacen</th><th>Existentes</th><th>Necesitadas</th><th>Faltantes</th></tr></thead>
                                        <tbody>
                                        <tr><th>Consignación</th><td>{{ product.in_consignment }}</td><td>{{ product.consignment_tobe }}</td><td class="consignment-needed">{{ product.consignment_tobe|substract:product.in_consignment }}</td></tr>
                                        <tr><th>Propias</th><td>{{ product.in_stock }}</td><td>{{ product.stock_tobe }}</td><td class="stock-needed">{{ product.stock_tobe|substract:product.in_stock }}</td></tr>
                                        </tbody>
                                    </table></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="new_order" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align">Nueva Orden</h4>
    </div>
    <form class="form-horizontal" action="" autocomplete="off" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="CREATE">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> Pedir</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </div>
    </form>
</div>