{% load custom_tags %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
            <h3 class="panel-title">Rango</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" action="." method="GET">
                  <div class="form-group">
                    <label for="exampleInputName2">Fecha inicio</label>
                    <input type="date" class="form-control" name="start_date" value="{{ formatted_start_date }}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail2">Fecha fin</label>
                    <input type="date" class="form-control" name="end_date" value="{{ formatted_end_date }}">
                  </div>
                  <button type="submit" class="btn btn-default">Filtrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>
            <div class="col-md-11 col-sm-10">Movimientos</div>
            <div class="col-md-1 col-sm-2">
                <p data-placement="top" data-toggle="tooltip" title="Eliminar reggistro seleccionadas"><button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#delete"><i class="fa fa-trash"></i></button></p>
            </div>
        </h2>
    </div>
    <div class="row">
    <div class="table-responsive">
        <table class="table table-bordred table-striped">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Productos</th>
                <th>Almacen</th>
                <th style="text-align: center;">Eliminar</th>
            </thead>
            <tbody>
                {% for reg in registry %}
                <tr>
                    <td><input type="checkbox" class="checkthis" value="{{ reg.id }}"/></td>
                    <td>{{ reg.date.day }}-{{ reg.date.month|month_name }}-{{ reg.date.year }}</td>
                    {% if reg.type == "Input" %}
                    <td>Entrada</td>
                    <td>
                        <table class="table table-bordred table-striped table-hover table-condensed">
                            <thead><tr><th>Código</th><th>Nombre</th><th>Cantidad</th></tr></thead>
                            <tbody>
                            {% for product in reg.input_product_set.all %}
                            <tr><td>{{ product.product.code }}</td><td>{{ product.product.name }}</td><td>{{ product.amount }}</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    {% elif reg.type == "Output" %}
                    <td>Salida</td>
                    <td>
                        <table class="table table-bordred table-striped table-hover table-condensed">
                            <thead><tr><th>Código</th><th>Nombre</th><th>Cantidad</th></tr></thead>
                            <tbody>
                            {% for product in reg.output_product_set.all %}
                            <tr><td>{{ product.product.code }}</td><td>{{ product.product.name }}</td><td>{{ product.amount }}</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    {% elif reg.type == "Lending" %}
                    <td>Prestamo</td>
                    <td>
                        <table class="table table-bordred table-striped table-hover table-condensed">
                            <thead><tr><th>Código</th><th>Nombre</th><th>Cantidad</th></tr></thead>
                            <tbody>
                            {% for product in reg.lending_product_set.all %}
                            <tr><td>{{ product.product.code }}</td><td>{{ product.product.name }}</td><td>{{ product.amount }}</td></tr>
                            {% endfor %}
                            {% for tool in reg.lending_tool_set.all %}
                            <tr><td>{{ tool.tool.code }}</td><td>{{ tool.tool.name }}</td><td>{{ tool.amount }}</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    {% endif %}
                    <td>{{ reg.get_storage_display }}</td>
                    <td align="center"><p data-placement="top" data-toggle="tooltip" title="Eliminar este registro"><button class="btn btn-danger" data-title="Delete" data-toggle="modal" data-target="#delete{{ reg.id }}" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>