<div class="row">
    <h2>
        <div class="col-xs-9 col-xs-6">
            {{ content.title }}: {{ content.obj_id }}
        </div>
</div>
<div class="row">
    <div class="sheet" use_rest="{{ content.use_rest }}" data-obj_id="{{ content.obj_id }}" style="padding: 0 30px;">
        <div class="row sheet-head" style="font-size: x-large;">
            <div class="col-xs-8"><img src="/static/img/mo.jpeg" height="200">
                <div>
                    Muelles Obrero S. de R.L. de C.V.<br>
                    MOB101108GT6
                </div>
            </div>
            <div class="col-xs-4"><table class="table table-striped">
                <tr><th>Folio</th></tr>
                <tr><td>XXXXX</td></tr>
                <tr><th>Fecha</th></tr>
                <tr><td>12341212341234</td></tr>
            </table></div>
        </div>
        <div class="row sheet-desc">
            <div class="col-xs-4" style="padding: 0;"><table class="table table-striped" style="border: solid;border-width: 2px;border-color: #f9f9f9;margin: 0;">
                <tr><th>Name</th></tr>
                <tr><td>Value</td></tr>
            </table>
            </div>
            <div class="col-xs-4" style="padding: 0;"><table class="table table-striped" style="border: solid;border-width: 2px;border-color: #f9f9f9;margin: 0;">
                <tr><th>Name</th></tr>
                <tr><td>Value</td></tr>
            </table>
            </div>
            <div class="col-xs-4" style="padding: 0;"><table class="table table-striped" style="border: solid;border-width: 2px;border-color: #f9f9f9;margin: 0;">
                <tr><th>Name</th></tr>
                <tr><td>Value</td></tr>
            </table>
            </div>
            <div class="col-xs-4" style="padding: 0;"><table class="table table-striped" style="border: solid;border-width: 2px;border-color: #f9f9f9;margin: 0;">
                <tr><th>Name</th></tr>
                <tr><td>Value</td></tr>
            </table>
            </div>
            <div class="col-xs-4" style="padding: 0;"><table class="table table-striped" style="border: solid;border-width: 2px;border-color: #f9f9f9;margin: 0;">
                <tr><th>Name</th></tr>
                <tr><td>Value</td></tr>
            </table>
            </div>
        </div>
        <div class="row sheet-cont" style="margin-top: 20px">
            <table class="table table-striped">
                <tr><th class="col-xs-6">Product</th><th class="col-xs-2">Price</th><th class="col-xs-2">Amount</th><th class="col-xs-2">Total</th></tr>
                <tr><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td></tr>
                <tr><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td></tr>
                <tr><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td></tr>
                <tr><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td><td>XXXXX</td></tr>
            </table>
        </div>
        <div class="row sheet-foot">
            <div class="col-xs-8"></div>
            <div class="col-xs-2">SubTotal</div>
            <div class="col-xs-2">XXXXX</div>
            <div class="col-xs-8"></div>
            <div class="col-xs-2">IVA</div>
            <div class="col-xs-2">XXXXX</div>
            <div class="col-xs-8"></div>
            <div class="col-xs-2">Total</div>
            <div class="col-xs-2">XXXXX</div>
        </div>
    </div>
</div>
