{% load custom_tags %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            {% for storage in storages %}
            <li role="presentation" class="{{ storage.active }}"><a href="#{{ storage.name }}Diff" aria-controls="{{ storage.name }}Diff" role="tab" data-toggle="tab">{{ storage.title }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for storage in storages %}
            <div role="tabpanel" class="tab-pane {{ storage.active }}" id="{{ storage.name }}Diff">
                <div class="row"><h2>
                    <div class="col-md-11 col-sm-10">Productos en {{ storage.title }}</div>
                    <div class="col-md-1 col-sm-2">
                        <p data-placement="top" data-toggle="tooltip" title="Realizar pedido para {{ storage.title }}"><button type="button" class="btn btn-info btn-lg btn-block order-modal" data-storage="{{ storage.name }}" data-toggle="modal" data-target="#new_order"><i class="fa fa-envelope"></i></button></p>
                    </div>
                </h2></div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordred table-striped table-hover">
                            <thead>
                                <th>Código</th>
                                <th>Marca</th>
                                <th>Proveedor</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Existentes</th>
                                <th>Necesitadas</th>
                                <th>Faltantes</th>
                            </thead>
                            <tbody>
                                {% for product in storage.products %}
                                <tr id="{{ product.code }}" data-code="{{ product.code }}" data-model="{{ product.model }}" data-provider="{{ product.provider.id }}" data-name="{{ product.name }}" data-description="{{ product.description }}" data-price="{{ product.price }}" class="product-row">
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.model }}</td>
                                    <td>{{ product.provider }}</td>
                                    <td class="product-name">{{ product.name }}</td>
                                    <td>{{ product.description }}</td>
                                    {% if storage.name == "consignment" %}
                                    <td>{{ product.in_consignment }}</td>
                                    <td>{{ product.consignment_tobe }}</td>
                                    <td class="needed">{{ product.consignment_tobe|substract:product.in_consignment }}</td>
                                    {% endif %}
                                    {% if storage.name == "stock" %}
                                    <td>{{ product.in_stock }}</td>
                                    <td>{{ product.stock_tobe }}</td>
                                    <td class="needed">{{ product.stock_tobe|substract:product.in_stock }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="new_order" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align">Nueva Orden</h4>
    </div>
    <form class="form-horizontal" action="" autocomplete="off" method="POST">
        {% csrf_token %}
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> Pedir</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </div>
    </form>
</div>