<div class="row">
    <h2>
        <div class="col-md-9 col-sm-6">
            {{ content.title }}
        </div>
        {% for button in content.buttons %}
        <div class="col-md-1 col-sm-2">
            {{ button.stringify|safe }}
            <!-- <p data-placement="top" data-toggle="tooltip" title="{{ button.title }}">{{ button.stringify|safe }}</p> -->
        </div>
        {% endfor %}</h2>
</div>
<div class="row">
    <div class="table-responsive">{{ content.html|safe }}</div>
</div>
